<h1>Convert <%= @from_currency %> to:</h1>

<a href="/">Go back</a>

<ul>
  <% @symbols.each do |symbol, _currency_name| %>
    <li>
      <a href="/<%= @from_currency %>/<%= symbol %>">
        Convert 1 <%= @from_currency %> to <%= symbol %>
      </a>
    </li>
  <% end %>
</ul>
